<div class="flex items-center w-full bg-white shadow-lg rounded-xl p-[24px]">
  <%= image_tag "admin_user/avatar.png", style: "width: 200px; height: 200px;"%>
  <div class="flex flex-col ml-[20px]">
    <div class="text-[45px] text-black font-bold">Admin User</div>
    <div class="text-[20px] text-black">WebSite T&D</div>
  </div>
</div>
<div class="flex items-center justify-between w-full bg-white shadow-lg rounded-xl p-[24px] mt-2.5">
  <div class="font-bold text-2xl text-black">Total</div>
  <div class="flex gap-[30px]">
    <div class="text-black border border-solid border-[#727272] rounded-lg p-2">
      <div class="text-[12px]">Total User:</div>
      <div class="text-[18px] font-bold text-center"><%= @user_count %></div>
    </div>
    <div class="text-black border border-solid border-[#727272] rounded-lg p-2">
      <div class="text-[12px]">Total Post Articles:</div>
      <div class="text-[18px] font-bold text-center"><%= @post_articles_count %></div>
    </div>
    <div class="text-black border border-solid border-[#727272] rounded-lg p-2">
      <div class="text-[12px]">First Name:</div>
      <div class="text-[18px] font-bold text-center"><%= @feedbacks_count %></div>
    </div>
  </div>
</div>
<div class="flex flex-col w-full bg-white shadow-lg rounded-xl p-[24px] mt-2.5">
  <div>1</div>
  <div>1</div>
  <div>1</div>
</div>